@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Tiny5 from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');

/* Set Tiny5 as the base font for the whole site */
body {
  @apply font-tiny;
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
